$primaryColor: #ff9584;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --van-nav-bar-text-color:#ff9584 !important;
}

.van-nav-bar {
    .van-icon {
        color: #ff9584 !important;
    }
}

.icon_check {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/detail/icon_check.png) 0 0 / 100% 100%;
}